<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>symfony plotting application</title>
</head>
<body>
    <header>
        <h1>First test plotting application</h1>
    </header>
    <main>
        <p>Enter the function you want:<p>
        <form action="{{ path('home') }}" method="POST">
            <label for="function">Function:</label>
            <input type="text" id="function" name="function" placeholder="for example :  x^2 " required>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="the title" required>

            <button type="submit">Generate Plot</button>
        </form>


        <p>This is the plot that was fetched from the python api</p>
        <img src="{{ imageEndpoint }}" alt="didnt manage to find the plot">


    </main>
</body>
</html>